.site-content.fixed-width {
	max-width: $global-grid-size;
	margin-right: auto;
	margin-left: auto;
}

.page-template-page-sidebar .site-content {
	display: flex;
}

.page-template-page-sidebar .content-area,
.page-template-page-sidebar .widget-area {


}

.page-template-page-sidebar .content-area {
	width: 70%;
}

.page-template-page-sidebar .widget-area {
	width: 30%;
}

.has-black-background-color {
	background-color: color(black, base);
}

.has-white-color {
	color: color(white, base);
}

.alignfull {
	margin-left: -100%;
	margin-right: -100%;
}

.alignwide {
	margin-left: -5%;
	margin-right: -5%;
}

.alignfull .wp-block-group__inner-container,
.alignwide .wp-block-group__inner-container {
	max-width: $global-grid-size;
	margin-left: auto;
	margin-right: auto;
}
