@media print {
	html {
		background-color: #fff;
	}

	body,
	body.has-background-image,
	body:not(.has-background-image) {
		background-image: none;
		background-color: #fff;
		min-height: 100%;
	}

	a,
	.sup-header-default a {
		text-decoration: underline;
		color: #333;
	}

	main {
		width: 100% !important;
		margin-left: 0;
	}

	.site-footer {
		display: none;
	}
}
