body {
	font-size: $global-font-size;
}

p {
	@include font-size($global-font-size);
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	@include clear-margin();
}

h1 {
	font-size: ms(6);
}

h2 {
	font-size: ms(5);
}

h3 {
	font-size: ms(4);
}

h4 {
	font-size: ms(3);
}

h5 {
	font-size: ms(2);
}

h6 {
	font-size: ms(1);
}
